html, body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: #F0EAC1;
  color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  /*opactiy: 80% */
}

header>div {
  width: 100%;
}

header li {
  list-style-type: none;
}

header a {
  color: white;
}

header a:visited {
  color: white;
}

header a:active {
  color: grey;
}

.left {
  font-size: 16px;
  text-align: left;
  margin-left: 75px;
  color: black;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.intro-1 {}

.exp-2 {}

.skills-3 {}

.contact-4 {
}

.right {
  font-size: 16px;
  text-align: right;
  margin-right: 75px;
  color: black;
}

.download-btn {
  background-color: transparent;
  padding: 15px 0px;
  border: 3px solid #fff;
  border-radius: 30px;
  margin-top: 25px;
  font-family: georgia;
  font-size: 20px;
}

.download-btn a {
  text-decoration: none;
  padding: 15px;
}

.download-btn a:hover {
  transition: .5s ease all;
  background-color: white;
  border-radius: 30px;
  color: #203354;
}

.download-btn a:visited {
  transition: .5s ease all;
  background-color: white;
  border-radius: 30px;
  color: white;
}

.download-btn a:visited:hover {
  transition: .5s ease all;
  background-color: white;
  border-radius: 30px;
  color: #203354;
}

.about-left {
  flex: 1;
  position: relative;
  top: 25px;
}

.about-left::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 13%;
  background: #203354;
  margin-left: 40px;
}

.about-left h1 {
  margin: 0;
}

.about-right {
  flex: 2;
  word-wrap: break-word;
  font-family: georgia;
  font-size: 20px;
}

.about-right p {
  padding-right: 100px;
  margin: 0px;
}

.experience-title {
  width: 100%;
  text-align: center;
  background-color: #C6C6C6;
}

.experience-title h1 {
  margin-bottom: 0;
}

.experience-title hr {
  width: 10%;
  border-color: #203354;
  margin: 0 auto;
}

.experience {
  display: flex;
  justify-content: center;
  height: 250px;
  background-color: #C6C6C6;
}

.experience-logo {
  background-color: #C6C6C6;
  height: 170px;
  margin-top: 25px;
  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  word-wrap: normal;
}

.experience-desc {
  background-color: white;
  border-bottom: 3px solid grey;
  border-right: 3px solid grey;
  height: 170px;
  margin-top: 25px;
  word-wrap: normal;
  width: 700px;
}

.experience-desc h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  width: 200px;
  margin-bottom: 0;
}

.experience-desc hr {
  width: 15%;
  margin: 0 30px 0;
  border-color: #203354;
}

.experience-desc h4 {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
}

.experience-desc p {
  margin-left: 15px;
  margin-right: 15px
}

.contact-me-title {
  text-align: center;
  background-color: black;
}

.contact-me-title h1 {
  margin-top: 0;
  padding-top: 25px;
  color: white;
}

.contact-me {
  display: flex;
  height: 250px;
  background-color: #F0EAC1;
}

.contact-me-left {
  flex: 1;
  margin-left: 25px;
  color: black;
}

.contact-me-middle {
  flex: 1;
  text-align: center;
  color: Black;
  margin-top: 15px;
}

.contact-form {
display: flex;
flex-direction: column;
}

.contact-me-right {
  flex: 1;
  text-align: right;
  color: white;
  margin-right: 25px;
  color: black;
}

footer {}
